  dependency-check:
    runs-on: ubuntu-latest
    needs: build-sbom
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare dirs
        run: |
          mkdir -p reports odc-data

      - name: Run OWASP Dependency-Check (Docker)
        env:
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
        run: |
          docker run --rm \
            -e "NVD_API_KEY=${NVD_API_KEY}" \
            -v "${{ github.workspace }}:/src" \
            -v "${{ github.workspace }}/reports:/report" \
            -v "${{ github.workspace }}/odc-data:/usr/share/dependency-check/data" \
            owasp/dependency-check:latest \
            --scan /src \
            --project "sbom-lab" \
            --format HTML \
            --out /report \
            --nvdApiKey "${NVD_API_KEY}" \
            --disableOssIndex \
            --enableExperimental

      - name: Upload Dependency-Check report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: reports
          retention-days: 7
